[gerrit]
	basePath = git
	canonicalWebUrl = <%= node['gerrit']['frontend_url'] %>
[database]
	type = MYSQL
	hostname = <%= node['gerrit']['database']['host'] %>
	database = <%= node['gerrit']['database']['name'] %>
	username = <%= node['gerrit']['database']['username'] %>
[auth]
	type = OPENID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = <%= node['java']['java_home'] %>
[sshd]
	listenAddress = *:<%= node['gerrit']['port'] %>
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
